html, body {
	height: 100%;
}
body {    
	font-size: 12px;
	line-height: 1.5;
	word-break: break-all;
}

.layout {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 100%;
}

.header {
	height: 50px;
	line-height: 50px;

	.logo {
		margin-right: 20px;
		float: left;
		font-size: 18px;
		color: #ccc;

		.anticon {
			margin-right: 5px;
		}
	}

	.ant-menu-dark.ant-menu-horizontal {
		border-bottom-width: 0;
	}
}

.content {
	padding: 0 50px;
	
	.nav {
		margin: 16px 0;
	}	
}

.main {
	padding: 15px;
	background-color: white;
}