html, body {
	height: 100%;
}
body {    
	font-size: 12px;
	line-height: 1.5;
	word-break: break-all;
}

.layout {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.sider {
	box-shadow: 2px 0 6px rgba(0,21,41,.35);

	.logo {
		padding: 15px 0 15px 24px;
		font-size: 20px;
		color: #fff;
		white-space: nowrap;

		.anticon {
			margin-right: 5px;
		}
	}
}
.ant-layout-sider-collapsed {
	.logo {
		padding-left: 0;
		text-align: center;

		.anticon {
			font-size: 24px;
		}
	}

	.sys-name {
		display: none;
	}
}

.header {
	height: 50px;
	padding: 0;
	line-height: 50px;
	background-color: #fff;
	box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);

	.sider-trigger {
		float: left;
		margin-right: 10px;
		padding: 0 24px;
		font-size: 18px;
		line-height: 50px;
		cursor: pointer;
		transition: color .3s;
		
		&:hover {
			color: #1890ff;
			background: #e6f7ff;
		}
	}

	.user-info {
		float: right;
		font-size: 14px;
	}

	.page-nav {
		font-size: 16px;
	}

	.logout {
		display: inline-block;
		padding: 0 14px;
		margin: 0 10px;
		line-height: 50px;
		cursor: pointer;

		&:hover {
			color: #1890ff;
			background: #e6f7ff;
		}
	}
}

.content {
	height: 100%;
	overflow-y: auto;
}

.main {
	margin: 24px;
}

.ant-card-wider-padding .ant-card-body {
	padding: 15px;
}

.ant-form-item {
	display: flex;
}
.ant-form-item-label {
	width: 100px;
}
.ant-form-item-control-wrapper {
	flex: 1;
}

.autocomplete-option {
	display: flex;
}
.autocomplete-option > span {
	padding: 0 5px;
}